---
import Header from "../components/Navbar.astro";
import KYCFlowLayout from "./KycFlowLayout.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/images/zfunds-logo-white.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>KYC | Z Funds</title>
  </head>
  <body>
    <Header />
    <div class="kyc-flow-layout">
      <div class="current-route-info">
        <div class="current-route-name">
          {title}
        </div>
        <div class="partition-line"></div>
        <div class="current-route-desc">
          {description}
        </div>
      </div>
      <div class="child-component">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Noto Sans;
    color: #052f5f;
  }

  .partition-line {
    border-bottom: 2px solid #03a87c;
    width: 30px;
  }

  .kyc-flow-layout {
    height: 93vh;
    background-color: white;
    padding: 2%;
  }

  .current-route-info {
    margin-top: 10px;
  }
  .current-route-name {
    font-size: 1.3rem;
    margin-top: 18px;
    font-weight: 550;
    color: #052f5f;
    text-underline-position: from-font;
  }

  .current-route-desc {
    color: #052f5f;
    margin: 20px 0px;
  }

  .child-component {
    height: 85vh;
    
  }
</style>
