---
import UserProfile from "../components/form-components/ConfirmDetails/ConfirmDetails.component";
import KycFlowLayout from "../layouts/KycFlowLayout.astro";
---

<KycFlowLayout
  title="KYC Details"
  description="Read below details carefully, they cannot be changed later."
>
  <form method="post" action="/api/users" class="container">
    <UserProfile client:load />
  </form>
</KycFlowLayout>

<style>
  .container {
    height: 100%;
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: white;
  }
</style>
