

<script>
  import { resetUserStore } from "../userStore";

  document.getElementById("start-btn")?.addEventListener("click", () => {
    resetUserStore();
  });
</script>
<div class="homepage-component">
  <a href="/personalDetails"
    ><button id="start-btn" class="kyc-start-button"> Complete KYC </button></a
  >
</div>

<style>
  .homepage-component {
    position: relative;
    height: 100%;
    background-color: white;
  }

  .kyc-start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #32547c;
    color: #f1e2e2;
    font-size: calc(1vw + 1rem);
    font-weight: 600;
    width: 22%;
    aspect-ratio: 5 / 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }

  .kyc-start-button:active {
    transform: translate(-50%, -50%) scale(0.98); /* Slightly shrink when clicked */
    background-color: #2a4666; /* Darker background when clicked */
  }

  @media (max-width: 768px) {
    /* For tablet and smaller devices */
    .kyc-start-button {
      width: 40%; /* Adjust width for smaller screens */
      font-size: calc(2vw + 1rem); /* Increase font size for mobile */
    }
  }

  @media (max-width: 480px) {
    /* For mobile devices */
    .kyc-start-button {
      width: 60%; /* Adjust width for mobile */
      font-size: calc(3vw + 1rem); /* Increase font size for smaller screens */
    }
  }
</style>
