.personal-details-form {
  height: 100%;
}

.form-container {
  background: #fff;
  border-radius: 10px;
  max-width: 400px;
}

h2 {
  font-size: 1rem;
  color: #003366;
}

.field {
  margin-bottom: 15px;
}

.field label {
  font-size: 1rem;
  font-weight: 400;
  color: #003366;
  display: block;
  margin-bottom: 5px;
}

.text-input {
  font-size: 1.2rem; /* Increase font size */
  width: 80%; /* Set width to 80% */
  height: 54px;
  padding: 10px; /* Add padding to make the input box larger */
  border: 1px solid #052f5f; /* Border with specified color */
  border-radius: 5px; /* Rounded corners */
  color: #052f5f; /* Default text color */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.text-input::placeholder {
  color: lightgray; /* Hint text color */
}
.email::placeholder {
  color: #052f5f !important; /* Hint text color */
}

.radio-group {
  display: flex;
  align-items: center;

}

.radio-group label {
  display: flex;
  align-items: center; /* Align the text and radio input on the same line */
  margin: 0;
}


.radio-group label:nth-of-type(2) {
  margin-left: 80px;
}

.radio-group input {
  margin-right: 5px;
}

.text-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.email-domains {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.email-domains button {
  border: 1px solid #003366;
  background: #fff;
  color: #003366;
  padding: 4px 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 36px;
  width: 120px;
}

.email-domains button.active {
  background: #003366;
  color: #fff;
}

.income-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.income-options label {
  display: flex;
  align-items: center;
}

input[type="radio"]:checked {
  accent-color: #052f5f; /* Changes the background to blue */
}

input[type="radio"]{
  height: 16px;
  width: 16px;
}
