.heading-tile-container {
    width: 100vw; 
    max-width: 480px;
    box-sizing: border-box;
    height: 7vh;
    /* max-height: 10px; */
    background-color: #EFF3F6;
    padding: 3% 2%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: calc(0.2vw + 1em);
    position: relative; /* Maintains natural flow */
}

@media(max-width:480px){
    .heading-tile-container{
        left: calc(-50vw + 50%);
        padding: 4% 2%;
    }
}
