.card {
  background: white;
  border: 1px solid #8e959f;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.non-editable{
  padding: 0px !important;
}

.content-box{
  padding: 15px;
}


.form-details{
  margin-top: 30px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-header {
  font-size: 16px;
  cursor: pointer;
}

.edit a{
  color: #03A87D;
  text-decoration: none;
  font-weight: 500;
}

.card-content{
  flex: 1;
}

.card-content p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
}

.card-content p {
  flex-grow: 1;
}

.card-content .key {
  font-size: 12px;
  color: #8E959F;
}

.card-content .value {
  font-size: 15px; 
  margin-top: 2px;
}
.note {
  font-size: 12px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 0;
}


.documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Adds spacing between the images */
}

.document-placeholder {
  width: 100%;
  max-width: 180px; /* Set a max width for each document container */
  overflow: hidden; /* Ensures no image overflows outside the container */
  position: relative;
  color: #888;
  border: 2px dashed #d0d0d0;
  flex: 1;
  height: 80px;
  border-radius: 8px;
  display: flex; /* Enable flexbox on the container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.document-image {
  width: 80%; /* Image width */
  height: 80%; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures image scales correctly without distortion */
}


.container {
  height: 100%;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: white;
}

.terms {
  margin: 15px 0;
  font-size: 14px;
}

.terms input[type="checkbox"]:checked {
  background-color: #004680; /* Background color when checked */
  border-color: #004680; /* Border color when checked */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background: #003366;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 90vw;
  height: 54px;
  transition: background 0.3s ease;
}

.submit-btn.inactive {
  background: #a3c4e5; /* Lighter blue when inactive */
  cursor: not-allowed; /* Indicate that the button is not clickable */
}

/* Loader styles */
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #003366; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-item:nth-child(1) {
  grid-column: span 2; 
}

.grid-item {
  border-radius: 4px;
}