<header>
    <a>
        Back
    </a>
    <a>
        Image here
    </a>
    <a>
        <a>
            search
        </a>
        <a>
            cart
        </a>
    </a>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
    }
</style>